header, main, footer {
    background-color: orange;

    header div:first-of-type {
        background-color: lightskyblue;
        display: flex;
        /* For spacing, use rems. */
        gap: 1rem;
        justify-content: right;
    }
}

.middle-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: lightskyblue;
}

div:nth-of-type {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* For spacing, use rems. */
    gap: 1rem;
}

li {
    list-style: none;
}

h1 {
    font-size: 2.8em;
    font-weight: 600;
    margin: 10px auto;
}

nav ul {
    display: flex;
    gap: 1rem;
}

.text-center {
    text-align: center;
}

.nav-bar {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.imgHover:hover {
    width: 14%;
}

nav a {
    background-color: lightgrey;
    color: greenyellow font-size: 1.5em;
    font-weight: bold;
    margin: 3em;
    padding: .75rem;
    text-decoration: none;
    text-transform capitalize;
}

nav a:hover {
    background-color: #FFED00;
}

.main {
    padding: 3rem;
}

.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;
    background: yellow;
    color: orange;
    border: 1px solid orange;
}


.footer {
    background-color: lightgrey;
    color: white;
    padding: 1rem;
    text-align: center;
}

#squeeze-middle {
    margin: 75% display-flex: flex-start;
}

#squeeze-footer {
    margin: 75%;
}