header, footer {
    background-color: #23e3f4;
}


img {
    max-width: 100%;
    height: auto;
}

/* only use 1 header tag, if you need to edit headers make it a class. you can use a header div and an only header tag */
header div {
    gap: 1rem;
}

header {
    padding: 2rem;
}

li {
    list-style: none;
}

h1 {
    font-size: 2.4em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;

    main-flex {
        background-color: #dc7f23;
    }

    /* this aligns home live chat and the logo vertically */
    .home-live-logo {
        align-items: center;
    }

    .top-links-area {
        margin: 0;
        padding: 1rem;
    }

    .li-link-margin {
        margin: 3rem;
    }

    .logo-link-margin {
        margin-left: auto;
    }

    /* 0 top bottom 14 left right rem padding */
    .header-padding-blue {
        padding: 0 12rem 0 16rem;
    }

}

.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1rem;
}

/* only for top links area */
.flex-row {
    display: flex;
    flex-direction: row;
}

/* whenever something is greyed out, in inspect vie the greyed out area is the element as well */