header, footer {
    background-color: #23e3f4;
}

main-flex {
    background-color: #dc7f23;
}

img {
    max-width: 100%;
    height: auto;
}

header div {
    gap: 1rem;
}

li {
    list-style: none;
}

.li-link-margin {
    margin: 3rem;
}

h1 {
    font-size: 2.4em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

.top-links-area {
    margin: 0;
    padding: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 1rem;
}

/* only for top links area */
.flex-row {
    display: flex;
    flex-direction: row;
}