html {
    font-size: 15pt;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #A3E7FF;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-content: center;
    padding: 1rem;
}

header div {
    gap: 1rem;
}

img {
    height: auto;
    max-width: 100%;
}

li {
    list-style: none;
    background-color: #E7FFA3
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.li-main {
    margin: .7rem;

}

h1 {
    font-size: 2.4em;
    font-weight: 900;
    margin: 0;
    padding: .7rem;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}


footer {
    padding: .5rem 3rem .5rem 3rem;
    margin: 1rem;
}

/* 0 top & bottom, 14 left right rem padding */
.header-padding-blue {
    padding: 0 12rem 0 16rem;
    margin: 1rem;

}

.margin-center {
    margin: 0 auto;
}

.li-link-margin {
    text-align: center;
    margin: .8rem;
    padding: .8rem;
    font-weight: 900;
    border-radius: 16px;
}

.hover-animation:hover {
    background-color: #F3BB26;
}

/* in index.html */
.logo-link-margin {
    margin-left: auto;
}

/* only for top links area */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column-left {
    display: flex;
    flex-direction: column;

}

.flex-column-right {
    display: flex;
    flex-direction: column;
}

/* this aligns home live chat and the logo vertically */
.home-live-logo {
    align-items: center;
    justify-content: center;
    margin: 0;

}

.home-live-chat {
    text-decoration: none;
    text-align: center;
    text-justify: center;
}


.main {
    align-items: left;
    background-color: #FFA3E7;
    border: 4mm ridge rgba(255, 255, 255, 0.9);
    display: flex;
    gap: 1rem;
    justify-content: left;
    padding: 3rem;
    margin: 1rem;
}

.main-flex-row {
    display: flex;
    flex-direction: row;
    width: 200px;
    border-left-width: 6mm;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
  }


.img-hover-tech:hover {
    width: 14%;
}

.sun-logo {
box-shadow: 17px 8px 12px -2px rgba(0,0,0,0.51);
webkit-box-shadow: 17px 8px 12px -2px rgba(0,0,0,0.51);
moz-box-shadow: 17px 8px 12px -2px rgba(0,0,0,0.51);
}

.full-width {
    width: 100%;
}

.third-width {
    width: 33%;
}

.button {
    /* rounded button radius */
    border-radius: 10px;

    background-color:#F3BB26;
    outline: 1px solid #000;
    
    display:flex;
	justify-content: center;
	align-items: center;
    width: 10%;

    margin: .8rem;
    padding: .8rem;
    font-weight: 900;
    border-radius: 16px;



}

.section-1 {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    background-color: #E7FFA3;
  }
  
  .section-2 {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: .7rem;
    background-color: #E7FFA3;
  }



  /* justify-content: center; justifies based on if its a col or row */